* {
    padding: 0;
    margin: 0;
    vertical-align: top;
}

h1 {
    font-size: 46px;
    font-weight: 400;
    font-family: "DEATHNOTE Font", monospace;
    text-transform: uppercase;
}

body {
    color: #fff;
    background-color: #000;
    font-family: 'PT Mono', monospace;
    border-top: 4px solid #222;
    border-bottom: 4px solid #222;
    background-image: url(bg.jpg);
    background-position: center center;
    background-size: cover;
}

header, footer {
    padding: 20px;
    background-color: #333;
}

header {
    border-bottom: 1px dashed red;
    border-top: 1px dashed red;
}

footer {
    border-top: 1px dashed red;
    border-bottom: 1px dashed red;
}

.flexbox {
    padding: 40px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border: 3px solid #222;
}

section, aside {
    border: 1px dashed red;
    margin: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
}

section {
    width: 75%;
}

aside {
    width: 25%;
    height: 100vh;
    background-image: url(rules.jpg);
    background-repeat: no-repeat;
    background-position: center 20px;
    background-size: 100%;
    background-color: #000;
}

form {
    padding: 20px;
    text-align: center;
    border: 1px solid #666;
}

label {
    display: block;
    width: 50%;
    margin: 10px auto;
    color: #666;
    font-weight: 700;
    border-bottom: 1px solid #666;
}

input {
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    border: 0;
}

textarea {
    padding: 10px;
    color: #666;
    border: 0;
}

#deathnote-style {
    background-color: #ddd;
    color: #111;
    padding: 40px;
    margin: 20px;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJUlEQVQYV2NkIADWbz3zP9DbhJFxVCG2EIAHD4hBKIhA8kSHIwAFXCc6ZL2aaQAAAABJRU5ErkJggg==);
}

.death {
    margin: 20px auto;
}

.name {
    text-transform: capitalize;
}